:root {
    --white: #ffff;
    --ice: #f1f1f1;
    --green: #16c463;
    --black: #2a2a2a;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.toolbar {
    height: 80px;
}

.tab-link {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner .link {
    color: var(--green);
    flex: 1;
    height: 80px;
    line-height: 25px;
    font-weight: bold;
}

.toolbar-inner .link:not(.active) {
    color: var(--black);
    font-weight: normal;
}

.toolbar-inner>.link i {
    font-size: 28px;
}

.top-navbar {
    width: 100%;
    height: 60px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-logo {
    font-weight: 600;
    margin-left: 5%;
}

.title-logo span {
    color: var(--green);
}

.btn-cart {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 1px solid var(--ice);
    border-radius: 50%;
    color: var(--black);
    margin-right: 5%;
    /* background: red; */
}

.btn-cart::before {
    content: attr(data-count);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: var(--white);
    font-weight: 600;
    position: absolute;
    top: 5px;
    right: 0px;
    margin-right: 5%;
}

.btn-cart[data-count="0"]::before {
    display: none;
}

form {
    padding-top: 10px;
    padding-bottom: 20px;
    background: var(--white);
    position: relative;
}

input[type="text"] {
    width: 90%;
    height: 45px;
    margin: auto;
    padding: 10px 20px;
    background: var(--ice);
    border-radius: 15px;
}

::placeholder {
    color: #b3afaf;
}

.icon-pesquisa {
    font-size: 27px;
    color: var(--black);
    position: absolute;
    top: 0;
    right: 5%;
    padding: 13px;
}

a,
button {
    text-decoration: none;
    list-style: none;
    color: var(--green);
    transition: ease-in-out .1s;
}

h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.page-content {
    background: var(--white);
}


/* Swipper Slide show  */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Swipper Slide show  */

.block {
    margin-left: 2%;
    margin-right: 2%;
}

.filter-btn {
    width: 100%;
    height: 35px;
    background: none;
    border: 2px solid var(--black);
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-wrapper .swiper-slide button.active {
    background: var(--green);
    color: var(--white);
    font-weight: 600;
}

.swiper-wrapper .swiper-slide button {
    height: 50px;
    color: var(--black);
}

.row {
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.item {
    color: var(--black);
}

.item-card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 240px;
    flex: 45%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    border-radius: 10px;
    background: var(--ice);
}

.img-container img {
    max-width: 150px;
    object-fit: contain;
}

.name-rating {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.color-gray {
    color: gray;
}

.bold {
    font-weight: bold;
}

.mdi-star {
    color: orange;
}

.price {
    font-size: 20px;
    font-weight: 600;
}

@media(min-width:992px) {
    .item-card {
        flex: 30%;
    }
}

@media(min-width:120px) {
    .item-card {
        flex: 20%;
    }
}


/* Page Details  */

.page .toolbar {
    background: var(--white);
}

.prod-details {
    background: var(--ice);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.prod-details img {
    max-width: 400px;
}

.buttons-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20px;
}

.buttons-top a {
    background: var(--white);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 2px solid var(--ice);
    color: var(--black);
}

.ri-heart-3-fill {
    color: red;
}

.buttons-top a:first-child {
    margin-right: auto;
    margin-left: 20px;
}

.buttons-top a:last-child {
    margin-right: 20px;
    margin-left: 10px;
}

.prod-content {
    margin-top: -50px;
    background: var(--white);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 10px;
}

.btn-promo {
    width: 40%;
    padding: 10px 5px;
    background: #ef4d4e;
    color: var(--white);
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.btn-rates {
    width: 80px;
    color: var(--black);
    padding: 10px;
    margin-right: 5px;
    background: none;
    border: 2px solid var(--ice);
    border-radius: 15px;
}

.btn-rates i {
    font-size: 1rem;
}

.views {
    color: var(--black);
    font-size: 0.8rem;
    letter-spacing: -0.5px;
}

.ri-star-fill {
    color: orange
}

.ri-thumb-up-fill {
    color: var(--green)
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr,
td {
    padding: 1px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

th {
    background: #ddd;
}

.flex-40 {
    flex: 40%;
}

.flex-60 {
    flex: 60%;
}

.pricing {
    text-align: left;
    flex-flow: column;
    margin-left: 30px;
}

.through {
    top: 5px;
    font-size: 0.9rem;
    color: gray;
    position: relative;
}

.through::after {
    content: "";
    position: absolute;
    rotate: -5deg;
    border: 0.8px solid red;
    top: 50%;
    width: 100%;
    left: -2px;
}

.through::before {
    content: "";
    position: absolute;
    rotate: 5deg;
    border: 0.8px solid red;
    top: 50%;
    width: 100%;
    left: -2px;
}

.add-cart {
    height: 60px;
    border: none;
    background: var(--green);
    color: var(--white);
    font-size: clamp(2rem, 2vw, 3rem);
    font-weight: 600;
    border-radius: 20px;
    margin-right: 20px;
}

.add-cart span {
    margin-bottom: -8px;
    display: block;
    font-size: 0.8rem;
}


/* Page Details End  */


/* Page Cart  */

.nav-top.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    /* background: var(--black); */
}

.nav-top.cart a {
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--ice);
    border-radius: 50%;
    background: var(--white);
    color: var(--black);
}

.nav-top.cart a:nth-child(2) {
    border: none;
}

.nav-top.cart i {
    font-size: 1.5rem;
}

.nav-top.cart a:first-child {
    margin-left: 20px;
}

.nav-top.cart a:last-child {
    margin-right: 20px;
}

.item-carrinho {
    display: flex;
    align-items: center;
    /* background: blue; */
    max-height: 120px;
    width: 90%;
    padding: 10px 0px;
    border-bottom: 1px solid var(--ice);
    /* box-shadow: 0px 8px 10px rgba(0, 0, 0, .1); */
    margin: auto;
}

.area-img {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ice);
    border-radius: 20px;
    margin-bottom: 5px;
}

.area-img img {
    max-width: 120px;
    height: 120px;
    object-fit: contain;
}

.area-details {
    flex: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 10%;
}

.sup {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.name-prod {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 15px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background: red; */
}

.delete-item {
    font-size: 1.1rem;
    color: #9e9e9e;
    margin-right: 10px;
}

.middle span {
    color: gray;
    margin-left: 15px;
}

.preco-qtde {
    width: 100%;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.preco-qtde span {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 15px;
}

.count {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.minus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--white);
    color: gray;
    border: 1px solid var(--ice);
    border-radius: 5px;
    font-size: 1.2rem;
    margin-right: 5px;
}

.item-qtde {
    background: var(--white) !important;
    width: 30px;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid var(--ice) !important;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 5px;
}

.flex-100 {
    flex: 1;
    text-align: center;
    margin: 0px 20px;
}

.w-80 {
    width: 100%;
    flex: 80%;
}

#totais {
    flex-direction: column;
    padding: 8px 15px;
}

.border-top {
    border-top: 2px solid var(--ice);
}

.toolbar-bottom:first-child {
    height: 90px;
}


/* Page Cart End */